
.SearchBar {
    display: flex;
    width: 100%;
    border: none;
    justify-content: center;
    height: 6vmin;
    border-bottom: 1px solid #e9e9e9;
    -webkit-box-shadow: 0px -1px 35px 2px rgba(195,195,195,1);
    -moz-box-shadow: 0px -1px 35px 2px rgba(195,195,195,1);
    box-shadow: 0px -1px 35px 2px rgba(195,195,195,1);
}

.SearchBar > input {
    width: 100%;
    border: none;
    font-size: 17px;
    height: 100%;
    text-overflow: ellipsis;
}

input:focus {
    outline: none;
}

.SearchBar > span {
    margin: auto;
    padding: 1.7vmin;
}

.SearchBar > span > img {
    width: 2vmin;
}

span.clear {
    cursor: pointer;
}

.greyBgColor > span.clear {
    display: none;
}

span.clear:hover {
    background-color: #e9e9e9;
}

.SearchBar.greyBgColor {
    background-color: #f2f3f4;
    font-weight: 500;
}

.greyBgColor > input {
    background-color: #f2f3f4;
    font-weight: 500;
}
